@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100%;
  color: white;
}

header {
  position: absolute;
  width: 30%;
  height: 24%;
  left: 35%;
  right: 35%;
  top: 38%;
  bottom: 38%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header img {
  height: 70%;
}

header h4 {
  margin: 0;
  font-size: 1.8em;
}

section {
  width: 49%;
  height: 49%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h3 {
  /* width: 50%; */
  margin-top: 0;
  text-align: center;
  font-size: 2em;
}

#container {
  width:80%;
  padding-top: 1%;
  height: 100%;
  margin: 0 auto;
}

#classroom {
  /* background-color: #005daa; */
  background-color: #0058a0;

  border-radius: 10% 0 0 0;
}
/* #classroom h3 {
  text-align: right;
} */

#classroom h3 {
  margin-top: -5%;
}

#classroom img {
  top: 25px;
  left: 25px;
}

#content {
  background-color: #7a00c6;
  /* background-color: #7d00aa; */
  border-radius: 0 10% 0 0;
}

#content img {
  top: 25px;
  right: 25px;
}

#display {
  /* padding-top: 5%; */
  /* background-color: #aa3e00; */
  background-color: #f37021;
  border-radius: 0 0 0 10%;
}

#display img {
  bottom: 25px;
  left: 25px;
}

#display p {
  margin-bottom: 10%;
}

#pedagogy {
  background-color: #00ab4e;
  /* background-color: #aa9300; */
  border-radius: 0 0 10% 0;
}

#pedagogy img {
  bottom: 25px;
  right: 25px;
}

section img {
  width: 20%;
  position: absolute;
}

p, ul {
  width: 60%;
  margin: 0 auto;
  line-height: 1.4em;
  text-align: justify;
}
